*{
  padding: 0;
  margin: 0;
}

body{
  background: linear-gradient(180deg, #0D1632 3.37%, #000000 25.48%);
}

.bg{
  font-family: "Graduate", serif;
  /* font-weight: 400;
  font-style: normal; */
}

.jetmono{
  font-family: "JetBrains Mono", monospace;
}